@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050505;
  color: #e0e0e0;
  overflow: hidden;
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Custom scrollbar for that Kernel look */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f2ff;
}